{% extends 'base.html' %}
{% block title %}
    Limpieza
{% endblock %}
{% block navbar%}{% include 'navbar.html' %}{% endblock %}
{% block body_content %}
    <div class="container-fluid">
       <div class="row">
            <div class="col-12 col-md-8 offset-md-2 text-center">
                <h4>Agregar perfil</h4>
            </div>
       </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ e }}
                                  </div>
                                {% endfor %}
                            {% endif %}
                        </div>  
                    {% endfor %}
                    <button type="submit" class="btn btn-primary btn-block mt-1">Guardar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}