{% extends 'base.html' %}
{% block title %}
    Limpieza
{% endblock %}
{% block navbar%}{% include 'navbar.html' %}{% endblock %}
{% block body_content %}
{% if message %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
{% endif %}
<div class="container-fluid">
    <div class="row mt-3">
        {% if obj %}
            {% for o in obj %}
            <div class="col-12 col-md-4 text-center">
                <div class="card">
                    <div class="card-title">
                        Gerente en turno:
                        {{ o.gerente_turno }}
                    </div>
                    <div class="card-body">
                        <a href="{% url 'generar_reporte' o.id %}" class="btn btn-success">Reporte: {{ o.fecha }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}